    #fixedbg {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        filter: blur(2.5px);
        -webkit-filter: blur(2.5px);
    }
    
    #upperborder {
        position: absolute;
        width: 89.78%;
        height: fit-content;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #393E46;
        border-bottom: 4px solid #222831;
        border-right: 4px solid #393E46;
        border-left: 4px solid #393E46;
        z-index: 2;
    }
    
    #upheader {
        text-align: center;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-weight: 800;
        color: white;
        height: auto;
        display: grid;
        place-items: center;
        margin-top: 0;
        margin-bottom: 0;
    }
    
    #rightborder {
        position: relative;
        width: 5%;
        height: 100%;
        top: 0;
        left: 97.5%;
        transform: translateX(-50%);
        background-color: #393E46;
        border-left: 4px solid;
        border-color: #222831;
        z-index: 1;
    }
    
    #leftborder {
        position: absolute;
        width: 5%;
        height: 100%;
        top: 0;
        left: 2.5%;
        transform: translateX(-50%);
        background-color: #393E46;
        border-right: 4px solid;
        border-color: #222831;
        z-index: 1;
    }
    
    html:before {
        height: 20px;
        left: 0;
        right: 0;
        top: 0;
    }
    
    html:after {
        width: 20px;
        top: 0;
        right: 0;
        bottom: 0;
    }
    
    body:after {
        width: 20px;
        top: 0;
        bottom: 0;
        left: 0;
    }
    
    #text {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        left: 10%;
        top: 10%;
        color: white;
    }