.homeheaderdiv{
    width: fit-content;
    height:fit-content;
    margin-left: 50%;
    margin-top: 20%;
    transform: translateX(-50%);
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border: 4px solid aliceblue;
    border-radius: 20px;
    padding: 0 2%;
}

.homeheader{
    color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    font-size: 75px;
    font-weight: 800;
    text-align: center;
    border-radius: 15px;
}

.homeheader div{
    display: inline-block;
}

.homeheader div#Kryle div{
    opacity: 0;
    position: st;
    animation: 3s ease-in-out 0s 1 bounceTopLetters forwards;
}

.homeheader div#Enterprises div{
    opacity: 0;
    position: static;
    animation: 2s ease-in-out 5s 1 bounceBottomLetters forwards;
}

#menu{
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border: 4px solid #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menub{
    background: none;
    border: none;
}

.menuh{
    font-size: 50px ;
    color: #fff;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menuh:hover{
    text-decoration: underline tomato;
}

#menupage {
    opacity: 0;
    position: absolute;
    display: grid;
    place-items: center;
    height: max-content;
    margin-left: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    transform: translateX(-50%);
    width: 30%;
    border: 4px solid #fff;
    border-radius: 20px;
}

@media only screen and (max-width: 1303px){
    #menupage{
        margin-top: 15%;
    }

}

#menupage{
    height: fit-content;
    pointer-events: none;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.5);
}

#menupage a{
    font-size: 50px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#menupage.disabled{
    pointer-events: auto;
    cursor: auto;
}

.homeheader div#Kryle div#k{ animation-delay: 0.25s;}
.homeheader div#Kryle div#r{ animation-delay: 0.5s;}
.homeheader div#Kryle div#y{ animation-delay: 0.75s;}
.homeheader div#Kryle div#l{ animation-delay: 1s;}
.homeheader div#Kryle div#e{ animation-delay: 1.25s;}
.homeheader div#Enterprises div#s1{animation-delay: 1.15s;}
.homeheader div#Enterprises div#e2{animation-delay: 1.30s;}
.homeheader div#Enterprises div#s{animation-delay: 1.45s;}
.homeheader div#Enterprises div#i{animation-delay: 1.60s;}
.homeheader div#Enterprises div#r1{animation-delay: 1.75s;}
.homeheader div#Enterprises div#p{animation-delay: 1.90s;}
.homeheader div#Enterprises div#r{animation-delay: 2.05s;}
.homeheader div#Enterprises div#e1{animation-delay: 2.20s;}
.homeheader div#Enterprises div#t{animation-delay: 2.35s;}
.homeheader div#Enterprises div#n{animation-delay: 2.50s;}
.homeheader div#Enterprises div#e{animation-delay: 2.65s;}

#homepagevid1{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}



@keyframes bounceTopLetters{
    0% {
        transform: translateY(-3000%);
      }
      100% {
        transform: translateY(0);
        opacity: 100;
      }
}

@keyframes bounceBottomLetters{
    0% {
        transform: translateY(400%);
      }
      80%{
          opacity: 30%;
      }
      100% {
        transform: translateY(0);
        opacity: 100;
      }
}

@keyframes moveLeft{
      100% {
        transform: translateX(-3000%);
      }
}


@keyframes moveBack{
    0% {
        transform: translateX(-1000%);
      }
    100% {
      transform: translateX(-50%);
    }
}

@keyframes openMenu{
    0%{
       opacity: 0; 
    }
    100%{
        opacity: 100;
    }
}

@keyframes closeMenu{
    0%{
       opacity: 100; 
    }
    100%{
        opacity: 0;
    }
}


